/* TOP */


#top ul{
	padding-top:8px;
}

#top ul li{
	display:inline;
	line-height:30px;
	margin:0px 5px;
	color:white;
}

.social ul li a i{
	font-size:18px;
	margin:0 1px;
}

.registro ul{
	text-align: right;
	font-size:12px;
}



/* HEADER */

header #logotipo img{

    padding: 1px 100px;
    padding-left: 0px;
}


header #btnCategorias{
	margin: 29px 0;
}

header #btnCategorias p{
	line-height:40px;
	margin-bottom:0px;
}

header #btnCategorias p span{
	cursor: pointer;
}

header #buscador{
	margin:29px 0;
}

header #buscador input{
	padding:19px;
	border-radius:0;
}

header #buscador button{
	padding:9px;
	border:1px solid silver;
	border-radius:0;
}

header #carrito{
	margin:29px 0;
}

header #carrito button{
	padding:9px 15px;
	border:1px solid silver;
	border-radius:0;
}

header #carrito p{
	padding:2px;
	padding-left:60px;
	border:1px solid #aaa;
	font-size:12px;
}

header #categorias{
	display:none;
	margin-top:-10px;
	position: relative;
	padding-bottom:20px;
}

header #categorias h4{
	margin-top:20px;
	margin-bottom:-10px;
}

header #categorias hr{
	border:1px solid rgba(255,255,255,.3);
}


/* MEDIA QUERYS PARA DIFERENTES TAMAÑOS DE PANTALLA */

/* ESCRITORIO GRANDE (LG revisamos en 1366px en adelante) */

@media (min-width:1200px){


}
/* 
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px) */

@media (max-width:1199px) and (min-width:992px){


}

/* ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px) */

@media (max-width:991px) and (min-width:768px){

    /*TODO:TERMINAR DE AJUSTAR ESTA MEDIA QUERY*/
header #logotipo img{

    padding: 50px 50px;
    padding-left: 0px;
}


}

/* MOVIL (XS revisamos en 320px) */

@media (max-width:767px){


header #logotipo img{

    padding: 25px 100px;
    padding-left: 0px;
}
}



