/*
 * ─── GLOBAL ─────────────────────────────────────────────────────────────────────
 */



 *{

    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;

 }




    