/*=============================================
BANNER
=============================================*/

.banner{
	position: relative;
	overflow:hidden;
	height: 300px;
}

.banner .textoBanner{
	position:absolute;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.banner .textoDerecha{
	top:50px; 
	right:50px; 
	text-align:right;
}

.banner .textoIzquierda{
	top:50px; 
	left:50px; 
	text-align:left;
}

.banner .textoCentro{
	top:50px; 
	left:50%;
	width:800px; 
	margin-left: -400px;
	text-align:center;
}

.textoBanner h1{
	font-size:35px;
	line-height:25px;
}

.textoBanner h2{
	font-size:30px;
	line-height:25px;
}

.textoBanner h3{
	font-size:24px;
	line-height:25px;
}

                       /*
_________________________________________________
BARRA PRODUCTOS
_________________________________________________
                     */

.barraProductos .organizarProductos span{
	margin-left:5px;
}

                       /*
_________________________________________________
VITRINA DE  PRODUCTOS NUEVOS O DESTACADOS
_________________________________________________
					 */
					 
.tituloDestacado h1{
	margin-top:-5px;
}

.tituloDestacado button span{
	margin-left:5px;
}

.productos ul li figure{
	overflow:hidden;
}

.productos ul li a img:hover{
	transition: .3s all ease;
	opacity:.8;
	transform: scale(1.1,1.1);
}

.productos ul li h4 small{
	color:#777;
	text-transform: uppercase;
	font-size:12px;
	font-weight: 700;
}

.productos ul li h4 small a{
	color:#777;
}

.productos ul li div.precio{
	padding:0;
	margin-top:-30px;
	padding-bottom:20px;
}

.productos ul li div.enlaces{
	padding:0;
	padding-bottom:20px;
}

.productos ul li div.enlaces button{
	margin:2px;
}

.productos ul li div.enlaces button i{
	color:#999;
	font-size:12px;
}


                       /*
_________________________________________________
VITRINA DE  PRODUCTOS  DESTACADOS/NUEVOS EN LISTA
_________________________________________________
					 */


.productos ul li h1{
	margin-top:-10px;
}

.productos ul li h1 small{
	text-transform: uppercase;
	font-size:20px;
	font-weight: 700;
}

.productos ul li h1 small a{
	color:#777;
}

					                        /*
_________________________________________________
_________________________________________________
					 */


.oferta{
	text-decoration:line-through;
	color:#ccc;
	font-size:15px;
}


.fontSize{
	font-size:11px;
}


                       /*
_________________________________________________
REGLAS QUE AFECTA A LOS BOTONES QUE ACOMPAÑAN AL PRECIO DE PRODUCTO Y COLOR ON HOVER
_________________________________________________
					 */
					 
.btn-group-xs>.btn, .btn-xs{
	line-height:2.5!important;
}

.fa-heart:hover{
	color:red !important;
 }


 .fa-eye:hover{
	color:blue !important;
 }

 .fa-shopping-cart:hover{
	color:green !important;
 }
.checked{
	color: orange;
}
                        /*
_________________________________________________
MEDIA QUERYS Y SUS PUNTOS DE QUIEBRE
_________________________________________________
					 */

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

	.banner{
		height:260px;
	}


}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

	.banner{
		height:260px;
	}

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

	.banner{
		height:180px;
	}

	.textoBanner h1{
		font-size:30px;
		line-height:15px;
	}

	.textoBanner h2{
		font-size:25px;
		line-height:15px;
	}

	.textoBanner h3{
		font-size:25px;
		line-height:15px;
	}

	.banner .textoDer, .banner .textoIzq, .banner .textoCentro{
		top:35px; 
	}


}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

	.banner{
		height:100px;
	}

	.banner .textoDerecha, .banner .textoCentro, .banner .textoIzquierda{
		top:2px; 
		left:50%;
		width:800px; 
		margin-left: -400px;
		text-align:center;
		text-shadow:2px 2px 20px black;
	}

	.textoBanner h1{
		font-size:20px;
		line-height:3px;
	}

	.textoBanner h2{
		font-size:20px;
		line-height:3px;
	}

	.textoBanner h3{
		font-size:15px;
		line-height:5px;
	}

	.tituloDestacado h1{
		text-align:center;
	}

	.tituloDestacado button{
		position: absolute;
		left:50%;
		width:40%;
		margin-left:-20%;

	}

	.productos ul li h1 small{
		font-size:15px;
	}



	
}

